#pfp{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pfp img{
    max-height: 100%;
}

#profileInfo{
    background-color: gray;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    padding: 20px;
}
#content{
    padding: 20px;
}